<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listado de Festivales</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/menu_lateral.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/styles/list_festival.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="topbar"></div>
<div class="rightbar"></div>
<nav class="sidebar">
  <a href="#" class="titulo">Explorar</a>
  <div class="menu-content">
    <ul class="menu-items">
      <li class="item">
        <a href="index.html" class="submenu-item">
          <span>Inicio</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="/login" class="submenu-item">
          <span>Login</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="/festival/list" class="submenu-item">
          <span>Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>

</nav>

<div class="mainc" >
  <div class="container" style="background-image: url('/images/lfest.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; height: 100vh;">
    <h1>Listado de Festivales</h1>
    <form method="get" th:action="@{/gestorFestival/list}">
      <label style="padding-top: 3%" for="size">Festivales por página:</label>
      <select name="size" id="size" class="form-select" th:onchange="this.form.submit()">
        <option th:value="5" th:selected="${size == 5}">5</option>
        <option th:value="10" th:selected="${size == 10}">10</option>
        <option th:value="20" th:selected="${size == 20}">20</option>
        <option th:value="50" th:selected="${size == 50}">50</option>
      </select>
      <input type="hidden" name="page" th:value="${currentPage}" />
    </form>
    <div class="initiative-list">
      <div class="initiative-card" th:each="festival : ${festivales}">
        <h2 th:text="${festival.nom}" style="text-transform: capitalize;">Título </h2>
        <div class="field">
          <span th:text="${festival.anyo}" style="text-transform: capitalize;"></span>
        </div>
        <div class="field">
          <label><strong>Categoria Musical:</strong></label>
          <span th:text="${festival.categoriaMusical}" style="text-transform: capitalize;"></span>
        </div>
        <div class="field">
          <label><strong>Fecha de inicio:</strong></label>
          <span th:text="${festival.dataInici}" style="text-transform: capitalize;"></span>
        </div>
        <div class="field">
          <label><strong>Fecha de fin:</strong></label>
          <span th:text="${festival.dataFi}" style="text-transform: capitalize;"></span>
        </div>

        <div class="field">
          <label><strong>Número de festival:</strong></label>
          <span th:text="${festival.idFestival}" style="text-transform: capitalize;"></span>
        </div>


          <div class="buttons-wrapper">
            <a th:href="@{/festival/info/{id}(id=${festival.idFestival})}" class="btn btn-warning" role="button">Info</a>
          </div>

        <div class="buttons-wrapper"
             th:if="${festival.estatFestival.name() == 'publica' or festival.estatFestival.name() == 'obertVenda'}">
          <a th:href="@{/compra-entradas/compra/{id}(id=${festival.idFestival})}" class="btn btn-success" role="button">Comprar Entradas</a>
        </div>


      </div>
    </div>

    <nav aria-label="Page navigation example" style="margin-top: 30px">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
          <a class="page-link" th:href="@{/gestorFestival/list(page=${currentPage - 1}, size=${size})}" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active'">
          <a class="page-link" th:href="@{/gestorFestival/list(page=${i}, size=${size})}" th:text="${i + 1}"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
          <a class="page-link" th:href="@{/gestorFestival/list(page=${currentPage + 1}, size=${size})}">Siguiente</a>
        </li>
      </ul>
    </nav>


  </div>
</div>
<p class="footer">Universitat Jaume I Av. Vicent Sos Baynat, 12071 Castelló de la Plana, España Tel.: +34 964 72 80 00</p>

</body>
</html>
