<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Añadir Actuación</title>
  <link rel="stylesheet" type="text/css" href="/styles/menu_lateral.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/add_festival.css"/>
  <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<div class="topbar"></div>
<div class="rightbar"></div>
<nav class="sidebar">
  <a href="#" class="titulo">Explorar</a>
  <div class="menu-content">
    <ul class="menu-items">
      <li class="item">
        <a href="/responsableContratacion/indexRC" class="submenu-item">
          <span>Inicio</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/responsablecontratacion/contracteartista/list" class="submenu-item">
          <span>Gestionar Contratos</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/responsablecontratacion/artista/list" class="submenu-item">
          <span>Gestionar Artistas</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/festival/list" class="submenu-item">
          <span>Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/logout" class="submenu-item">
          <span>Cerrar Sesión</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">
  <form class="form" th:action="@{/responsablecontratacion/actuaciones/add}" th:object="${actuacioForm}" method="POST" novalidate>
    <h1 style="font-size: 40px">Añadir actuación a <span th:text="${nombreArtista}"></span></h1>

    <input type="hidden" th:field="*{idContracte}" th:value="${idContracte}" />
    <div>
      <div style="margin-top: 50px">
        <div class="form-group" style="margin-left: auto; margin-right: auto; margin-bottom: 40px; font-size: 16px">
          <label for="festival">Seleccionar Festival</label>
          <select style="height: 40px;width: 160px; font-size: 15px; text-align: center;" class="form-control" id="festival" th:field="*{idFestival}" required>
            <option th:each="festival : ${festivales}"
                    th:value="${festival.idFestival}"
                    th:text="${festival.nom}"
                    th:attr="data-inici=${festival.dataInici}, data-fi=${festival.dataFi}">
            </option>
          </select>
        </div>

      <!-- Botón para enviar el formulario -->
      <div class="form-group" style="margin-right: auto; margin-left: auto">
        <button type="submit" class="button">Siguiente</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
