<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Añadir Contrato - ${nombreArtista}</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/menu_lateral.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/add_festival.css}"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <style>
  .error-message {
      color: red;
      font-size: 0.9em;
      margin-top: 5px;
  }
  .has-error {
      border-color: red;
  }
  .modal-backdrop {
    z-index: -1;
  }
  </style>

  <script>

  $(document).ready(function() {
        var solapamiento = document.getElementById('solapamiento').value;
        $('#solapamientoModal').modal('hide');
        console.log("Valor de solapamiento:", solapamiento);
        console.log(solapamiento !== "false");
        if (solapamiento !== "false") {
            $('#solapamientoModal').modal('show');
            $(document).off('focusin.modal');
        }
    });
  document.addEventListener("DOMContentLoaded", function() {
    const contractStartDateInput = document.getElementById('contractStartDate');
    const contractStartDateValue = contractStartDateInput.value;
    const contractStartDate = new Date(contractStartDateValue);
    const contractEndDate = new Date(contractStartDate);
    contractEndDate.setFullYear(contractEndDate.getFullYear() + 1);

    // Convertir la cadena de fecha a un objeto Date en JavaScript
    $("#accordion").accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
    });

    // Obtener el primer select y actualizar las fechas de los campos de fecha correspondientes
    document.querySelectorAll('select[id^="idFestival"]').forEach(function(select, index) {
        updateDateFields(select, index);
    });

    function updateDateFields(select, index) {
        const selectedOption = select.options[select.selectedIndex];
        const dataInici = selectedOption.getAttribute("data-inici");
        const dataFi = selectedOption.getAttribute("data-fi");

        if (dataInici && dataFi) {
            const festivalStartDate = new Date(dataInici);
            const festivalEndDate = new Date(dataFi);

            const dateInput = document.getElementById(`actuaciones${index}.data`);

            // Calcular el mínimo entre la fecha de inicio del festival y la del contrato
            const minDate = new Date(Math.max(contractStartDate.getTime(), festivalStartDate.getTime()));
            const maxDate = new Date(Math.min(contractEndDate.getTime(), festivalEndDate.getTime()));
            dateInput.min = minDate.toISOString().slice(0, 10);
            dateInput.max = maxDate.toISOString().slice(0, 10);

            // Establecer el valor del campo de fecha al mínimo permitido
            dateInput.value = dateInput.min;
        }
    }

    // Configurar la escucha de eventos para cada select de festival
    document.querySelectorAll('select[id^="idFestival"]').forEach(function(select, index) {
        select.addEventListener("change", function() {
            updateDateFields(select, index);
        });
    });

    // Configurar la validación del formulario
const form = document.querySelector('form');
form.addEventListener('submit', function(event) {
    let isValid = true;
    document.querySelectorAll('.error-message').forEach(function(errorDiv) {
        errorDiv.textContent = '';
    });
    document.querySelectorAll('.has-error').forEach(function(input) {
        input.classList.remove('has-error');
    });

    document.querySelectorAll('input, select').forEach(function(input) {
        if (!input.checkValidity()) {
            isValid = false;
            const errorDiv = document.getElementById(`${input.id}-error`);
            errorDiv.textContent = input.validationMessage;
            input.classList.add('has-error');
        }

        // Validar que la hora de inicio no sea igual o posterior a la hora de fin
        if (input.type === 'time' && (input.name.includes('.horaInici') || input.name.includes('.horaFiPrevista'))) {
            const index = input.name.match(/\d+/)[0]; // Obtener el índice del arreglo actuaciones
            const horaIniciInput = document.getElementById(`actuaciones${index}.horaInici`);
            const horaFiPrevistaInput = document.getElementById(`actuaciones${index}.horaFiPrevista`);

            const horaInici = horaIniciInput.value;
            const horaFiPrevista = horaFiPrevistaInput.value;

            if (horaInici >= horaFiPrevista) {
                isValid = false;
                const errorDiv = document.getElementById(`${input.id}-error`);
                errorDiv.textContent = "La hora de inicio debe ser anterior a la hora de fin prevista.";
                input.classList.add('has-error');
            }
        }
    });

    if (!isValid) {
        event.preventDefault();
    }
});

});
  </script>
</head>
<body>

<div class="topbar">
  <p>Usuario: <span th:text="${session.userName}">Nombre Usuario</span></p>
</div>
<div class="rightbar"></div>
<nav class="sidebar">
  <a href="#" class="titulo">Explorar</a>
  <div class="menu-content">
    <ul class="menu-items">
      <li class="item">
        <a href="/responsableContratacion/indexRC" class="submenu-item">
          <span>Inicio</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/responsablecontratacion/contracteartista/list" class="submenu-item">
          <span>Gestionar Contratos</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/responsablecontratacion/artista/list" class="submenu-item">
          <span>Gestionar Artistas</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/festival/list" class="submenu-item">
          <span>Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/logout" class="submenu-item">
          <span>Cerrar Sesión</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="content" style="padding-top: 60px; position: fixed">
  <input type="hidden" name="nombreArtista" th:value="${nombreArtista}" />
  <input type="hidden" name="ultimoContrato" th:value="${ultimoContrato}" />
  <input type="hidden" name="actuacionesPrevias" th:value="${actuacionesPrevias}" />

  <form style="width: 80%;" class="form" th:action="@{/responsablecontratacion/actuaciones/add}" th:object="${contratoActuaciones}" method="POST" novalidate>

    <h1 style="text-size: 55px"><strong>Contrato con <span th:text="${session.nombreArtista}"></span></strong></h1>

      <div style="justify-content: center; align-items: center; margin-top: 40px">
        <div style="display: flex; justify-content: center; align-items: center;">
          <div class="form-group" style="justify-content: center; align-items: center">
            <label>Fecha de Inicio:</label>
            <span th:text="${contrato.dataInici}"></span>
          </div>
          <div class="form-group" style="justify-content: center; align-items: center; padding-left: 8%">
            <label>Fecha de Fin:</label>
            <span th:text="${contrato.dataFi}"></span>
          </div>
          <div class="form-group" style="justify-content: center; align-items: center; padding-left: 8%">
            <label>Importe:</label>
            <span th:text="${contrato.importContracte} + ' €'"></span>
          </div>
          <div class="form-group" style="justify-content: center; align-items: center; padding-left: 8%;">
            <label>Número de actuaciones:</label>
            <span th:text="${contrato.numActuacionsAny}"></span>
          </div>
        </div>
      </div>
    <hr style="border-top: 1px solid #ccc; margin: 20px 0;">

      <div th:unless="${#lists.isEmpty(actuacionesPrevias)}">
        <table class="table">
          <thead>
          <tr>
            <th>ID Actuación</th>
            <th>ID Contrato</th>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin Prevista</th>
            <th>Comentarios</th>
            <th>ID Festival</th>
            <th>Nombre Artista</th>
            <th>ID Artista</th>
          </tr>
          </thead>
          <tbody>
          <!-- Iteración sobre la lista de actuaciones -->
          <tr th:each="actuacion : ${actuacionesPrevias}">
            <td th:text="${actuacion.idActuacio}"></td>
            <td th:text="${actuacion.idContracte}"></td>
            <td th:text="${actuacion.data}"></td>
            <td th:text="${actuacion.horaInici}"></td>
            <td th:text="${actuacion.horaFiPrevista}"></td>
            <td th:text="${actuacion.comentaris}"></td>
            <td th:text="${actuacion.idFestival}"></td>
            <td th:text="${actuacion.nomArtista}"></td>
            <td th:text="${actuacion.idArtista}"></td>
          </tr>
          </tbody>
        </table>
        <p style="margin-top: 20px; color: red">Este contrato ya ha sido cerrado, no es posible modificarlo.</p>

      </div>


    <div th:if="${#lists.isEmpty(actuacionesPrevias)}">
      <div th:unless="${#lists.isEmpty(festivales)}">

        <h2>Añadir Actuaciones</h2>

        <!-- Modal -->
        <div style="margin-top: 15%; margin-left: 7%" class="modal fade" id="solapamientoModal" tabindex="-1" role="dialog" aria-labelledby="solapamientoModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #F3655E">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Solapamiento de Actuaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" th:text="${session.solapamiento}">
                <!-- Contenido del cuerpo del modal -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
          <p style="margin-top: 20px; color: red">Este contrato ya ha sido cerrado, no es posible modificarlo.</p>

        </div>


        <input type="hidden" id="contractStartDate" th:value="${#dates.format(contrato.dataInici, 'yyyy-MM-dd')}" />
        <input type="hidden" id="solapamiento" th:value="${session.solapamiento}" />
        <input type="hidden" id="idArtista" th:value="${idArtista}" />

        <div id="accordion" class="actuaciones-section">
          <th:block th:each="i : ${#numbers.sequence(0, contrato.numActuacionsAny - 1)}">
            <h3 th:text="'Actuación ' + (${i} + 1)"></h3>
            <div class="actuacion" th:id="'actuacion-' + ${i}">
              <input type="hidden" th:name="'actuaciones[' + ${i} + '].index'" th:value="${i}"/>
              <div style="display: flex; justify-content: center; align-items:center">
                <div class="form-group" style="margin-right: 10%; margin-left: 3%">
                  <label th:for="'idFestival-' + ${i}">Seleccionar Festival</label>
                  <select class="form-control"
                          th:id="'idFestival-' + ${i}"
                          th:name="'actuaciones[' + ${i} + '].idFestival'"
                          th:field="*{actuaciones[__${i}__].idFestival}" required
                          >
                    <option th:each="festival : ${festivales}"
                            th:value="${festival.idFestival}"
                            th:text="${festival.nom}"
                            th:selected="${festival.idFestival == actuaciones[__${i}__].idFestival}"
                            th:attr="data-inici=${festival.dataInici}, data-fi=${festival.dataFi}">
                    </option>
                  </select>
                  <div th:id="'idFestival-' + ${i} + '-error'" class="error-message"></div>
                </div>

                <div class="form-group" style="margin-right: 10%">
                  <label th:for="'actuaciones[' + ${i} + '].data'">Fecha de la Actuación</label>
                  <input type="date" class="form-control"
                         th:id="'actuaciones' + ${i} + '.data'"
                         th:name="'actuaciones[' + ${i} + '].data'"
                         th:field="*{actuaciones[__${i}__].data}" required/>
                  <div th:id="'actuaciones' + ${i} + '.data-error'" class="error-message"></div>
                </div>


                  <div class="form-group" style="margin-right: 10%">
                    <label th:for="'actuaciones[' + ${i} + '].horaInici'">Hora de Inicio</label>
                    <input type="time" class="form-control"
                           th:id="'actuaciones' + ${i} + '.horaInici'"
                           th:name="'actuaciones[' + ${i} + '].horaInici'"
                           th:field="*{actuaciones[__${i}__].horaInici}" required/>
                    <div th:id="'actuaciones' + ${i} + '.horaInici-error'" class="error-message"></div>
                  </div>

                  <div class="form-group" style="margin-right: 5%">
                    <label th:for="'actuaciones[' + ${i} + '].horaFiPrevista'">Hora de Fin Prevista</label>
                    <input type="time" class="form-control"
                           th:id="'actuaciones' + ${i} + '.horaFiPrevista'"
                           th:name="'actuaciones[' + ${i} + '].horaFiPrevista'"
                           th:field="*{actuaciones[__${i}__].horaFiPrevista}" required/>
                    <div th:id="'actuaciones' + ${i} + '.horaFiPrevista-error'" class="error-message"></div>
                  </div>

              </div>

              <div style="display: flex;  justify-content: center; align-items:center">
                <div class="form-group" style="width: 90%">
                  <label th:for="'actuaciones[' + ${i} + '].comentaris'">Comentarios</label>
                  <textarea style="width: 100%; height: 80px; resize: none;" class="form-control"
                            th:id="'actuaciones' + ${i} + '.comentaris'"
                            th:name="'actuaciones[' + ${i} + '].comentaris'"
                            th:field="*{actuaciones[__${i}__].comentaris}" maxlength="500"></textarea>
                  <div th:id="'actuaciones' + ${i} + '.comentaris-error'" class="error-message"></div>
                </div>
              </div>
            </div>
          </th:block>
        </div>

        <div class="form-group" style="margin-top: 30px">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>
      <div th:if="${#lists.isEmpty(festivales)}">
        <span style="color: red">No hay festivales disponibles en la fecha de duración del contrato, no se puede añadir ninguna actuación</span>
      </div>
      </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
