<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Añadir Contrato - [[${session.userName}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/menu_lateral.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/add_festival.css}"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
        // Pasar la lista de festivales a una variable JavaScript
        var festivales = /*[[${festivales}]]*/ [];

        $(document).ready(function() {
            let actuacionIndex = 0;

            function refreshAccordion() {
                $("#accordion").accordion("refresh");
            }

            $('#addActuacionBtn').click(function() {
                actuacionIndex++;
                let festivalOptions = '';

                // Generar opciones para el select de festivales
                festivales.forEach(function(festival) {
                    festivalOptions += `<option value="${festival.idFestival}">${festival.nom}</option>`;
                });

                $('.actuaciones-section').append(`
                    <h3>Actuación ${actuacionIndex + 1}</h3>
                    <div class="actuacion" id="actuacion-${actuacionIndex}">
                        <input type="hidden" name="actuaciones[${actuacionIndex}].index" value="${actuacionIndex}"/>

                        <div class="form-group">
                            <label for="idFestival-${actuacionIndex}">Seleccionar Festival</label>
                            <select class="form-control" id="idFestival-${actuacionIndex}" name="actuaciones[${actuacionIndex}].idFestival" required>
                                ${festivalOptions}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="actuaciones${actuacionIndex}.data">Fecha de la Actuación</label>
                            <input type="date" class="form-control" id="actuaciones${actuacionIndex}.data" name="actuaciones[${actuacionIndex}].data" required/>
                        </div>

                        <div class="form-group">
                            <label for="actuaciones${actuacionIndex}.horaInici">Hora de Inicio</label>
                            <input type="time" class="form-control" id="actuaciones${actuacionIndex}.horaInici" name="actuaciones[${actuacionIndex}].horaInici" required/>
                        </div>

                        <div class="form-group">
                            <label for="actuaciones${actuacionIndex}.horaFiPrevista">Hora de Fin Prevista</label>
                            <input type="time" class="form-control" id="actuaciones${actuacionIndex}.horaFiPrevista" name="actuaciones[${actuacionIndex}].horaFiPrevista" required/>
                        </div>

                        <div class="form-group">
                            <label for="actuaciones${actuacionIndex}.preuContracteActuacio">Precio del Contrato de la Actuación</label>
                            <input type="text" class="form-control" id="actuaciones${actuacionIndex}.preuContracteActuacio" name="actuaciones[${actuacionIndex}].preuContracteActuacio" required pattern="\\d+(\\.\\d{1,2})?" required/>
                        </div>

                        <div class="form-group">
                            <label for="actuaciones${actuacionIndex}.comentaris">Comentarios</label>
                            <textarea class="form-control" id="actuaciones${actuacionIndex}.comentaris" name="actuaciones[${actuacionIndex}].comentaris" maxlength="500"></textarea>
                        </div>
                    </div>
                `);
                refreshAccordion();
            });

            $('#removeActuacionBtn').click(function() {
                if (actuacionIndex >= 0) {
                    $(`#actuacion-${actuacionIndex}`).prev('h3').remove();
                    $(`#actuacion-${actuacionIndex}`).remove();
                    actuacionIndex--;
                    refreshAccordion();
                }
            });

            $("#accordion").accordion();
        });
    </script>
</head>
<body>
<div class="topbar">
  <p>Usuario: <span th:text="${session.userName}">Nombre Usuario</span></p>
</div>
<div class="rightbar"></div>
<nav class="sidebar">
  <a href="#" class="titulo">Explorar</a>
  <div class="menu-content">
    <ul class="menu-items">
      <li class="item">
        <a href="/responsableContratacion/indexRC" class="submenu-item">
          <span>Inicio</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>


      <li class="item">
        <a href="responsablecontratacion/contracteartista/list" class="submenu-item">
          <span>Gestionar Contratos</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="responsablecontratacion/artista/list" class="submenu-item">
          <span>Gestionar Artistas</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="festival/list" class="submenu-item">
          <span>Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="/logout" class="submenu-item">
          <span>Cerrar Sesión</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">
  <form class="form" th:action="@{/responsablecontratacion/contracteartista/add}" th:object="${contratoActuaciones}" method="POST" novalidate>
    <h1><strong>Contrato con <span th:text="${nombreArtista}"></span></strong></h1>
    <div class="form-group">
      <label>Fecha de Inicio:</label>
      <span th:text="${contrato.dataInici}"></span>
    </div>
    <div class="form-group">
      <label>Fecha de Fin:</label>
      <span th:text="${contrato.dataFi}"></span>
    </div>
    <div class="form-group">
      <label>Importe:</label>
      <span th:text="${contrato.importContracte}"></span>
    </div>
    <div class="form-group">
      <label>Número de actuaciones:</label>
      <span th:text="${contrato.numActuacionsAny}"></span>
    </div>
    <h2>Añadir Actuaciones</h2>
    <div id="accordion" class="actuaciones-section">
      <h3>Actuación 1</h3>
      <div class="actuacion" id="actuacion-0">
        <input type="hidden" name="actuaciones[0].index" value="0"/>
        <div class="form-group">
          <label for="idFestival">Seleccionar Festival</label>
          <select class="form-control" id="idFestival" th:field="*{actuaciones[0].idFestival}" required>
            <option th:each="festival : ${festivales}" th:value="${festival.idFestival}" th:text="${festival.nom}"></option>
          </select>
        </div>
        <div class="form-group">
          <label for="actuaciones[0].data">Fecha de la Actuación</label>
          <input type="date" class="form-control" id="actuaciones0.data" name="actuaciones[0].data" required/>
        </div>
        <div class="form-group">
          <label for="actuaciones[0].horaInici">Hora de Inicio</label>
          <input type="time" class="form-control" id="actuaciones0.horaInici" name="actuaciones[0].horaInici" required/>
        </div>
        <div class="form-group">
          <label for="actuaciones[0].horaFiPrevista">Hora de Fin Prevista</label>
          <input type="time" class="form-control" id="actuaciones0.horaFiPrevista" name="actuaciones[0].horaFiPrevista" required/>
        </div>
        <div class="form-group">
          <label for="actuaciones[0].preuContracteActuacio">Precio del Contrato de la Actuación</label>
          <input type="text" class="form-control" id="actuaciones0.preuContracteActuacio" name="actuaciones[0].preuContracteActuacio" required pattern="\\d+(\\.\\d{1,2})?"/>
        </div>
        <div class="form-group">
          <label for="actuaciones[0].comentaris">Comentarios</label>
          <textarea class="form-control" id="actuaciones0.comentaris" name="actuaciones[0].comentaris" maxlength="500"></textarea>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="button" id="addActuacionBtn" class="btn btn-success">Añadir Actuación</button>
      <button type="button" id="removeActuacionBtn" class="btn btn-danger">Eliminar Actuación</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
</body>
</html>
