<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Compra Exitosa</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="margin-top: 40%; margin-left: 15%;background-color: #C3F892">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Compra Exitosa</h5>
        </div>
        <div class="modal-body">
          <p><strong>¡Tu compra se ha realizado con éxito! Se ha enviado un correo electrónico a <span th:text="${emailUltimaCompra}"></span> con los detalles de la compra.</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="window.location.href='/festival/list'">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript de terceros -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#successModal').modal('show');
    });
</script>
</body>
</html>
