<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Actualizar Festival</title>
  <link rel="stylesheet" type="text/css" href="/styles/menu_lateral.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/add_festival.css"/>
  <style>
        .error-message {
            color: red;
            font-size: 0.9em;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div class="topbar"></div>
<div class="rightbar"></div>
<nav class="sidebar">
  <a href="#" class="titulo">Explorar</a>
  <div class="menu-content">
    <ul class="menu-items">
      <li class="item">
        <a href="/gestorFestival/indexGF" class="submenu-item">
          <span>Inicio</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/gestorFestival/list" class="submenu-item">
          <span>Gestionar Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/festival/list" class="submenu-item">
          <span>Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="item">
        <a href="/logout" class="submenu-item">
          <span>Cerrar Sesión</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">

  <form class="form" th:action="@{/gestorFestival/update}" th:object="${festivalEntradas}" style="padding-top: 4%; width: 80%" method="POST" novalidate>
    <h1 style="font-size: 40px">Actualizar festival</h1>

    <div style="display: flex; align-items: center; justify-content: center; margin-top: 30px">
      <div class="form-group" style="margin-right: 60px;">
        <label for="nom">Nombre</label>
        <input type="text" class="form-control" id="nom" th:field="*{festival.nom}"  maxlength="250" required/>
        <div th:if="${#fields.hasErrors('festival.nom')}" th:errors="*{nom}" class="error-message"></div>
      </div>

      <div class="form-group" style="margin-right: 60px;">
        <label for="anyo">Año</label>
        <input type="number" class="form-control" id="anyo" th:value="${2024}" th:field="*{festival.anyo}"  style="height: 30px" maxlength="4" required/>
        <div th:if="${#fields.hasErrors('festival.anyo')}" th:errors="*{anyo}" class="error-message"></div>
      </div>

      <div class="form-group">
        <label for="categoriaMusical">Categoría Musical</label>
        <input type="text" class="form-control" id="categoriaMusical" th:field="*{festival.categoriaMusical}"  maxlength="100" required/>
        <div th:if="${#fields.hasErrors('festival.categoriaMusical')}" th:errors="*{categoriaMusical}" class="error-message"></div>
      </div>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 30px">

      <div style="display: flex; align-items: center; justify-content: center;margin-right: 90px">
        <div class="form-group" style="margin-right: 20px; margin-left: 80px">
          <label for="dataInici">Fecha de inicio</label>
          <input type="date" class="form-control" id="dataInici" th:field="*{festival.dataInici}"  maxlength="50" required/>
          <div th:if="${#fields.hasErrors('festival.dataInici')}" th:errors="*{dataInici}" class="error-message"></div>
        </div>

        <input type="hidden" class="form-control" id="estatFestival" th:field="*{festival.estatFestival}"  maxlength="50">
        <input type="hidden" class="form-control" id="idFestival" th:field="*{festival.idFestival}"  maxlength="50">
        <input type="hidden" class="form-control" id="cifPromotor" th:field="*{festival.cifPromotor}"  maxlength="50">

        <div class="form-group" style="margin-right: 20px;">
          <label for="dataFi">Fecha de fin</label>
          <input type="date" class="form-control" id="dataFi" th:field="*{festival.dataFi}" maxlength="50" required/>
          <div th:if="${#fields.hasErrors('festival.dataFi')}" th:errors="*{dataFi}" class="error-message"></div>
        </div>
      </div>

      <div style="display: flex; align-items: center; justify-content: center; padding-left: 25px">
        <div class="form-group" style="margin-right: 35px;">
          <label for="dataIniciPublicacio">Fecha Inicio de Publicación</label>
          <input type="date" class="form-control" id="dataIniciPublicacio" th:field="*{festival.dataIniciPublicacio}"  required/>
          <div th:if="${#fields.hasErrors('festival.dataIniciPublicacio')}" th:errors="*{dataIniciPublicacio}" class="error-message"></div>
        </div>

        <div class="form-group">
          <label for="dataIniciVenda">Fecha Inicio de Venta</label>
          <input type="date" class="form-control" id="dataIniciVenda" th:field="*{festival.dataIniciVenda}" required/>
          <div th:if="${#fields.hasErrors('festival.dataIniciVenda')}" th:errors="*{dataIniciVenda}" class="error-message"></div>
        </div>
      </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center; margin-top: 30px">
      <div style="display: flex">
        <div class="form-group" style="margin-right: 20px;">
          <label for="descripcio">Descripción</label>
          <input type="text" class="form-control" id="descripcio" th:field="*{festival.descripcio}"  maxlength="250" required/>
          <div th:if="${#fields.hasErrors('festival.descripcio')}" th:errors="*{descripcio}" class="error-message"></div>
        </div>


      </div>

      <div class="form-group" style="margin-right: 20px;">
        <label for="pressupostContractacio">Presupuesto de Contratación</label>
        <input type="number" class="form-control" id="pressupostContractacio" th:field="*{festival.pressupostContractacio}" style="height: 30px"  maxlength="10" required/>
        <div th:if="${#fields.hasErrors('festival.pressupostContractacio')}" th:errors="*{pressupostContractacio}" class="error-message"></div>
      </div>

      <div style="display: flex; align-items: center; justify-content: center; margin-left: 60px">
        <div class="form-group" style="margin-right: 20px;">
          <label for="localitzacioDescriptiva">Localización Descriptiva</label>
          <input type="text" class="form-control" id="localitzacioDescriptiva" th:field="*{festival.localitzacioDescriptiva}"  maxlength="100" required/>
          <div th:if="${#fields.hasErrors('festival.localitzacioDescriptiva')}" th:errors="*{localitzacioDescriptiva}" class="error-message"></div>
        </div>

        <div class="form-group">
          <label for="localitzacioGeografica">Localización Geográfica</label>
          <input type="text" class="form-control" id="localitzacioGeografica" th:field="*{festival.localitzacioGeografica}"  maxlength="100" required/>
          <div th:if="${#fields.hasErrors('festival.localitzacioGeografica')}" th:errors="*{localitzacioGeografica}" class="error-message"></div>
        </div>
      </div>


    </div>


    <div style="display: flex; align-items: center; justify-content: center; margin-top: 30px">

      <div class="form-group" style="margin-right: 20px;">
        <label for="publicEnfocat">Público Objetivo</label>
        <input type="text" class="form-control" id="publicEnfocat" th:field="*{festival.publicEnfocat}" maxlength="100"  required/>
        <div th:if="${#fields.hasErrors('festival.publicEnfocat')}" th:errors="*{publicEnfocat}" class="error-message"></div>
      </div>

      <div class="form-group" style="margin-right: 20px;">
        <label for="requisitMinimEdat">Requisito Mínimo de Edad</label>
        <input type="number" class="form-control" id="requisitMinimEdat" th:field="*{festival.requisitMinimEdat}" style="height: 30px"  required/>
        <div th:if="${#fields.hasErrors('festival.requisitMinimEdat')}" th:errors="*{requisitMinimEdat}" class="error-message"></div>
      </div>

      <div class="form-group" style="margin-right: 20px;">
        <label for="aforamentMaxim">Aforo Máximo</label>
        <input type="number" class="form-control" id="aforamentMaxim" th:field="*{festival.aforamentMaxim}"  style="height: 30px"  required/>
        <div th:if="${#fields.hasErrors('festival.aforamentMaxim')}" th:errors="*{aforamentMaxim}" class="error-message"></div>
      </div>

      <div class="form-group" style="margin-right: 20px;">
        <label for="precioFestivalCompleto">Precio del Festival Completo</label>
        <input type="number" step="0.01" class="form-control" id="precioFestivalCompleto" th:field="*{preuComplet}" style="height: 30px"required/>
        <div th:if="${#fields.hasErrors('preuComplet')}" th:errors="*{preuComplet}" class="error-message"></div>
      </div>

      <div class="form-group">
        <label for="precioDia">Precio por Día</label>
        <input type="number" step="0.01" class="form-control" id="precioDia" th:field="*{preuDia}" style="height: 30px"required/>
        <div th:if="${#fields.hasErrors('preuDia')}" th:errors="*{precioDia}" class="error-message"></div>
      </div>

    </div>

    <div th:if="${editable}" class="form-group">
      <button type="submit" class="button">Actualizar festival</button>
    </div>
    <div th:unless="${editable}">
      <p style="font-size:20px; font-weight: bold; color: red">Ya no es posible editar el festival debido a que ya se pueden comprar sus entradas.</p>
    </div>
  </form>
</div>
</body>
</html>
