<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TotFest</title>
  <link rel="stylesheet" href="/styles/menu_lateral.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>

<div class="topbar"></div>
<div class="rightbar"></div>

<nav class="sidebar">
  <a href="#" class="titulo">Explorar</a>

  <div class="menu-content">
    <ul class="menu-items">

      <li class="item">
        <a href="/" class="submenu-item">
          <span>Inicio</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <div th:if="${session.idUsuario == null}">

        <li class="item">
          <a href="/login" class="submenu-item">
            <span>Login</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="item">
          <a href="/register" class="submenu-item">
            <span>Registrarse</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </div>
      <li class="item">
        <a href="/festival/list" class="submenu-item">
          <span>Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <div th:if="${session.idUsuario != null}">
        <li class="item">
          <a th:href="@{/compra-entradas/listUsuario/{idUsuario}(idUsuario=${#session.getAttribute('idUsuario')})}" class="submenu-item">
            <span>Ver Mis Entradas</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>

        <li class="item">
          <a href="/logout" class="submenu-item">
            <span>Logout</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </div>
    </ul>
  </div>

</nav>

<div class="container" style="background-image: url('/images/festivalfondo.avif');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; height: 100vh;">
  <div class="div1">
    <h1>- TotFest -</h1>
  </div>

  <h4 style="font-size 90px;">TotFest se dedica a la organización de festivales musicales y ha desarrollado una plataforma de software para gestionar festivales de manera flexible y eficiente.</h4>
  <h4>Desde la captación de clientes y la contratación de artistas, hasta la programación y venta de entradas.</h4>
  <h4>TotFest facilita cada paso del proceso, asegurando una experiencia excepcional tanto para los promotores como para el público.</h4>


</div>


</body>
</html>