<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listado de Artistas</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/menu_lateral.css}" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
        .no-items-message {
            border: 1px solid #ccc;
            background-color: #F17575;
            width: 30%;
            padding: 15px;
            text-align: center;
            color: #000000;
            font-size: 1.2em;
            border-radius: 5px;
            margin: 20px auto;
        }

        .table-responsive {
            max-height: 500px;
        }
        .table {
            background-color: #ffffff; /* Color de fondo de la tabla */
            width: 100%;
            max-width: 100%; /* Ajustar la tabla al contenedor */
        }

        .table th, .table td {
            white-space: nowrap; /* Evita que el contenido se ajuste automáticamente */
            overflow: hidden; /* Oculta el contenido desbordado */
            text-overflow: ellipsis; /* Muestra puntos suspensivos para contenido desbordado */
            max-width: 150px; /* Ajusta el ancho máximo de las celdas */
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f9f9f9; /* Color de fondo para filas alternas */
        }

        .table-bordered {
            box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra alrededor de la tabla */
        }

        .table-bordered td, .table-bordered th {
            border: 1px solid #dee2e6; /* Color y grosor de los bordes */
        }

        .table-rounded {
            border-radius: 8px; /* Radio de los bordes redondeados */
        }

        .btn-sm {
            font-size: 0.8rem; /* Reducir el tamaño del texto de los botones */
        }

        .form-select {
            display: inline-block;
            width: auto;
            margin-left: 10px;
        }
        .table thead th {
            vertical-align: middle;
            border-bottom: 2px solid #dee2e6;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="topbar"></div>
<div class="rightbar"></div>
<div>
  <nav class="sidebar" style="margin-top:30px">
    <a href="#" class="titulo">Explorar</a>
    <div class="menu-content">
      <ul class="menu-items">
        <li class="item">
          <a href="/responsableContratacion/indexRC" class="submenu-item">
            <span>Inicio</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="item">
          <a href="/responsablecontratacion/contracteartista/list" class="submenu-item">
            <span>Gestionar Contratos</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="item">
          <a href="/responsablecontratacion/artista/list" class="submenu-item">
            <span>Gestionar Artistas</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="item">
          <a href="/festival/list" class="submenu-item">
            <span>Festivales</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="item">
          <a href="/logout" class="submenu-item">
            <span>Cerrar Sesión</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <input type="hidden" id="mensajeConfirmacionArtista" th:value="${mensajeConfirmacionArtista}" />

  <!-- Modal mensaje Confirmación-->
  <div class="container">
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 40%; margin-left: 15%;background-color: #C3F892">
          <div class="modal-body">
            <p style="font-size: 25px; text-align: center"><strong>Se ha<span th:text="${mensajeConfirmacionArtista}"></span> correctamente el artista.</strong></p>
          </div>
          <div class="modal-footer">
            <a id="aceptarMensajeConfirmacion" href="/responsablecontratacion/artista/list" class="btn btn-success">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Confirmación de Borrado -->
  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">¿Estás seguro de que deseas borrar a este artista?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="font-size: 25px; text-align: center" class="modal-body">
          Se eliminarán todas las actuaciones y contratos asociados a este artista
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a id="confirmDeleteButton" href="#" class="btn btn-danger">Borrar</a>
        </div>
      </div>
    </div>
  </div>


  <div class="mainc">
    <div style="width: 70%; margin-left: 22%; margin-right: 10%">
      <div>
        <h1 style="text-align:center; padding-top: 5%"><strong>Listado de Artistas</strong></h1>

        <!-- Tabla de contratos -->
        <div th:unless="${#lists.isEmpty(artistas)}">
          <form method="get" th:action="@{/responsablecontratacion/artista/list}">
            <label style="padding-top: 3%" for="size">Artistas por página:</label>
            <select name="size" id="size" class="form-select" th:onchange="this.form.submit()">
              <option th:value="5" th:selected="${size == 5}">5</option>
              <option th:value="10" th:selected="${size == 10}">10</option>
              <option th:value="20" th:selected="${size == 20}">20</option>
              <option th:value="50" th:selected="${size == 50}">50</option>
            </select>
            <input type="hidden" name="page" th:value="${currentPage}" />
          </form>

          <form id="deleteSelectedForm" th:action="@{/responsablecontratacion/artista/delete-selected}" method="POST">
          <div class="table-responsive">
            <table class="table table-bordered table-striped rounded">
              <thead>
              <tr>
                <th>Seleccionar</th>
                <th>ID Artista</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tipo de Música</th>
                <th>Cachet Actual (€)</th>
                <th style="background-color: #dfd7d7;">Acciones</th>
              </tr>
              </thead>
              <tbody id="artist-table-body">
              <!-- Datos de la tabla generados dinámicamente por Thymeleaf -->
              <tr th:each="artista : ${artistas}">
                <td>
                  <input type="checkbox" th:name="selectedArtistas" th:value="${artista.idArtista}">
                </td>
                <td th:text="${artista.idArtista}"></td>
                <td th:text="${artista.nom}"></td>
                <td>
                  <button style="margin-left: 30%" type="button" class="btn btn-primary btn-sm" data-toggle="modal" th:data-target="'#condicionesModal' + ${artista.idArtista}">
                    Ver
                  </button>
                  <!-- Modal -->
                  <div class="modal" style="margin-top:10%" th:id="'condicionesModal' + ${artista.idArtista}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Descripción</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" th:text="${artista.descripcio}">
                          <!-- Aquí se mostrarán las condiciones descriptivas -->
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td th:text="${artista.tipusMusica}"></td>
                <td th:text="${artista.cachetActual}"></td>
                <td style="background-color: #dfd7d7;">
                  <a th:href="@{/responsablecontratacion/artista/list/{idArtista}(idArtista=${artista.idArtista})}" class="btn btn-success btn-sm" role="button" title="Gestionar Contratos"><i class="fa-solid fa-list"></i></a>
                  <a th:href="@{/responsablecontratacion/artista/update/{id}(id=${artista.idArtista})}"
                     class="btn btn-warning btn-sm" role="button" title="Editar">
                    <i class="fa-solid fa-edit"></i>
                  </a>
                  <button data-toggle="modal" th:data-target="'#deleteModal' + ${artista.idArtista}" class="btn btn-danger btn-sm" type="button" title="Borrar">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <div class="modal" style="margin-top:10%;" th:id="'deleteModal' + ${artista.idArtista}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="background-color: #F57164;">
                        <div class="modal-header">
                          <h5 style="font-weight: bold" class="modal-title" id="exampleDeleteModalLabel">Confirmar acción</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p><strong>¿Estás seguro de que quieres eliminar este artista?<br>Se eliminarán permanentemente todas sus contratos y <br>actuaciones</strong></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <a th:href="@{/responsablecontratacion/artista/delete/{id}(id=${artista.idArtista})}" type="button" class="btn btn-danger">Borrar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSelectedModal">
              Eliminar Seleccionados
            </button>

            <!-- Modal de confirmación para eliminar seleccionados -->
            <div class="modal fade" id="deleteSelectedModal" tabindex="-1" role="dialog" aria-labelledby="deleteSelectedModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #F57164;">
                  <div class="modal-header">
                    <h5 style="font-weight: bold" class="modal-title" id="deleteSelectedModalLabel">Confirmar acción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><strong>¿Estás seguro de que quieres eliminar los festivales seleccionados? Esta acción no se puede deshacer.</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <!-- Este botón hace el submit del formulario -->
                    <button type="submit" form="deleteSelectedForm" class="btn btn-danger">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
        </div>

        <div th:unless="${#lists.isEmpty(artistas)}" style="float: right">
          <p>Mostrando <span th:text="${size * (currentPage)}"></span> -
            <span th:text="${( (currentPage + 1)   != null ? page : 1) == 1 ? #lists.size(artistas) : (size * currentPage) + #lists.size(artistas)}"></span>
            de
            <span th:text="${totalElems}"></span>
            elementos
          </p>
        </div>

        <!-- Mensajes de no hay artistas o festivales -->
        <div th:if="${#lists.isEmpty(artistas)}" class="no-items-message">
          <p>No existe ningún artista</p>
        </div>
        <!-- Botón de añadir contrato -->
        <div style="margin-left:44%" class="btn-anyadir">
          <a th:href="@{/responsablecontratacion/artista/add}" class="btn btn-success" role="button">Añadir Artista</a>
        </div>
      </div>
      <!-- Paginación -->
      <div th:unless="${#lists.isEmpty(artistas)}">
        <nav aria-label="Page navigation example" style="margin-top: 30px">
          <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
              <a class="page-link" th:href="@{/responsablecontratacion/artista/list(page=${currentPage - 1}, size=${size})}" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active'">
              <a class="page-link" th:href="@{/responsablecontratacion/artista/list(page=${i}, size=${size})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
              <a class="page-link" th:href="@{/responsablecontratacion/artista/list(page=${currentPage + 1}, size=${size})}">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
<!-- Scripts de Bootstrap y otros -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
