<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Actualizar Artista</title>
  <link rel="stylesheet" type="text/css" href="/styles/menu_lateral.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/add_festival.css"/>
</head>
<body>
<div class="topbar"></div>
<div class="rightbar"></div>
<nav class="sidebar">
  <a href="#" class="titulo">Explorar</a>

  <div class="menu-content">
    <ul class="menu-items">

      <li class="item">
        <a href="/responsableContratacion/indexRC" class="submenu-item">
          <span>Inicio</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>


      <li class="item">
        <a href="responsablecontratacion/contracteartista/list" class="submenu-item">
          <span>Gestionar Contratos</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="responsablecontratacion/artista/list" class="submenu-item">
          <span>Gestionar Artistas</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="festival/list" class="submenu-item">
          <span>Festivales</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>

      <li class="item">
        <a href="/logout" class="submenu-item">
          <span>Cerrar Sesión</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>

</nav>
<div class="content">
  <form class="form" th:action="@{/responsablecontratacion/artista/update}" th:object="${artista}" method="POST" novalidate>
    <h1>Actualizar Artista/Grupo</h1>
    <div class="form-group">
      <label for="nom">Nombre</label>
      <input style="width: 400px" type="text" class="form-control" id="nom" th:field="*{nom}" maxlength="250" required th:value="${artista.nom}" />
      <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="tipusMusica">Tipo de Música</label>
      <input style="width: 400px" type="text" class="form-control" id="tipusMusica" th:field="*{tipusMusica}" maxlength="100" required th:value="${artista.tipusMusica}" />
      <div th:if="${#fields.hasErrors('tipusMusica')}" th:errors="*{tipusMusica}" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="descripcio">Descripción</label>
      <input  style="width: 400px" type="text" class="form-control" id="descripcio" th:field="*{descripcio}" maxlength="250" required th:value="${artista.descripcio}" />
      <div th:if="${#fields.hasErrors('descripcio')}" th:errors="*{descripcio}" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="cachetActual">Cachet Actual</label>
      <input style="width: 120px; text-align: center; font-size: 16px; height: 30px" type="number" class="form-control" id="cachetActual" th:field="*{cachetActual}" step="10.0" required th:value="${artista.cachetActual}" min="0"/>
      <div th:if="${#fields.hasErrors('cachetActual')}" th:errors="*{cachetActual}" class="error-message"></div>
    </div>
    <div class="form-group">
      <button type="submit" class="button">Actualizar Artista/Grupo</button>
    </div>
  </form>

</div>

</body>
</html>
